body,html {
	height      : 100%;
	margin      : 0;
	font-family : 'Lato', sans-serif; font-weight: 300;
	font-size   : 15px;
	color       : #808080;
	line-height : 1.2em;
}

h1 {
	font-family : 'Lato', sans-serif; font-weight: 600;
	font-size: 55px;
	line-height: 58px;
	color : #f3c965;
	margin : 0 0 10px 0;
}

h2 {
	font-family : 'Lato', sans-serif; font-weight: 600;
	font-size: 21px;
	color : #f38065;
	margin : 0;
	vertical-align: middle;
	padding-left: 5px;
	display: inline;
}

a {
	color: #c1a930;
	text-decoration: none;
}

a:hover {
	color: #f38065;
	text-decoration: underline;
}

a:visited {
	color: #c1a930;
	text-decoration: none;
}

p {
	font-family : 'Lato', sans-serif; font-weight: 400;
	font-size   : 15px;
	color       : #8e8e8e;
	line-height : 1.5em;
}

p.slogan {
	font-weight: 300;
	font-size: 25px;
	line-height: 34px;
	color : #adadad;
	margin : 0;
	padding-top: 10px;
}

p.more-info {
	padding-top : 15px;
}

header {
	background    : transparent;
	margin-bottom : 60px;
}

.row-margin {
	margin: 60px 0;
}

.ribbon-header {
	text-align: center;
}

.logo-ribbon {
	display: inline-block;
	max-width: 180px;
}

.hero {
	padding: 30px 0 90px 0;
	text-align: center;
}

.signup {
	padding: 30px 0 90px 0;
	text-align: center;
}

.link-div {
	text-align: center;
}

.link-icon {
	max-width: 40px;
	display: inline-block;
	padding: 30px 0 90px 0;
}

button {
	background-color: #f3c865;
	display: inline-block;
	color: #ffffff;
	font-family : 'Lato', sans-serif; font-weight: 600;
	font-size: 1em;
	line-height: 1.5em;
	padding: 6px 15px;
	margin-top: 20px;
	border : 0;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
	text-decoration: none; 
	text-transform: uppercase;
	float: right;  
}

button:hover {    
    background-color: #f38065;
}

#newsletter-EMAIL {
	background-color: #f0f0f0;
	width: 365px;
	border: 0;
	padding: 8px 0 8px 8px;
}

input#newsletter-subscribe {
	background-color: #c2c2c2;
	display: inline-block;
	color: #ffffff;
	font-family : 'Lato', sans-serif; font-weight: 600;
	font-size: 1em;
	line-height: 1.5em;
	margin-left: 5px;
	padding: 6px 15px;
	border : 0;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
	text-decoration: none; 
	text-transform: uppercase;
}

input#newsletter-subscribe:hover {    
    background-color: #f38065;
}

.about-icons {
	max-width: 27px;
	display: inline;
}

footer {
	width: 100%;
	margin-top: 50px;
	padding: 40px 0;
	text-align: center;
}


@media only screen and (max-width : 756px) {

  .left {
    display : none;
  }

  button {
  	display: none;
  }

  .desktop-break {
  	display : none;
  }

  input#newsletter-subscribe {
  	margin-top : 20px;
  }

  .link-div {
  	display: none;
  }

  .mobile-padding {
  	padding-top : 60px;
  }
}